/* Adoption Page */

.adoption-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

h1 {
    color: #4caf50;
    margin-bottom: 20px;
}

.pet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pet-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
}

.pet-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.pet-card h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.pet-card p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.pet-card button {
    background-color: #4ea2cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.pet-card button:hover {
    background-color: #073c57;
}


/* Form Modal */

.form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: left;
}

.form-container h2 {
    color: #4ea2cc;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

form button {
    background-color: #4ea2cc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: #4e56cc;
}